
@import url('https://fonts.googleapis.com/css?family=Arvo:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import "compass/css3";




/*****Top Section ******/

* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
.Motivation {
    text-align: center;
    height: 10%;
}
.Motivation img {
    width:  100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Motivation h2 {
    color: white;
    font-size:  4rem;
    font-family: 'Arvo', serif;
    left: 45%;
    top: 10%;
    height: auto;
    width: auto;
}
.Motivation h3 {
    color:  white;
    font-size: 3em;
    position: absolute;
    margin: 15px;
    top:  40%;
    left: 30%;
    font-family: 'Cedarville Cursive', cursive;
}
 .Motivation button {
    color: white;
    border: 1px solid white; 
    font-size: 0.8rem;
    background: transparent;
    height: 6%;
    top: 70%;
    left: 44%;
    position: absolute;
    font-family: 'Arvo', serif;
} 
.Motivation button:hover {
    color: black;
    background-color: white;
}
ul {
    position: absolute;
    top: 60%;
    left: -1%;
}
ul li {
    display: inline-flex;
}

/**************Middle Section **********/

.middle-section {
    width: 100%;
}
.product-shop-now {
     margin-top: 5%; 

}
.item1 {
    margin-left: 5%;
    margin-right: 5%;
}
.item1 button {
    color: white;
    display: none;
    background-color: transparent;
    font-size: 1.5rem;
    height: 3rem;
    position: relative;
    bottom: 80%;
    left: 33%;
}
.item1:hover button{
    display: block;

    left: 40%;
}
.item1 img {
    width: 40vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;

}
.item1:hover img {
    opacity: 0.8;
    transform: scale(1.05);
}
.item2 {
    margin-left:5%;
    margin-right: 5%; 
}
.item2 button {
    display: none;
}
.item2:hover button {
    color: white;
    display: block;
    background-color: transparent;
    font-size: 1.5rem;
    height: 3rem;
    position: relative;
    bottom: 20%;
    left: 40%;
}
.item2:hover img {
    opacity: 0.8;
    transform: scale(1.05);
}

.item2 img {
    width: 40vw;
    transition: transform .2s;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.product-shop-now{
    display: inline-flex;
    width: 100%;
    height: 30%;
}
/****** Show-case-customize */
.show-case-customize {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    transform: translateY(80%); 
}
 .img-left img{
    width: 40%;
    height: 50%;
    animation: 4s linear, 4s rotation-of-jersey 4s linear;   
}
.number-jersey {
    visibility: hidden;
    color: white;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 14rem;
    animation-name: displaying-jersey-number;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    top: 20%;
    left: 14%;
}
.img-left {
   top: 10%;
   animation-duration: 4s;
   animation-fill-mode: forwards;
   /* animation-name: slide-to-left; */
}
.characters span {
        font: 40px Monaco, MonoSpace;
        color:white; 
        height: 200px;
        position: absolute;
        width: 40px;
        transform-origin: bottom center;
} 
/****** Name Jersey ********/
.characters {
   transform: rotate(-22deg);
   position: absolute;
   top: 12%;
   left: 14%;
   visibility: hidden;
   animation-duration: 4s;
   animation: 4s linear,4s displaying-jersey-number;
   animation-fill-mode: forwards;
}
.char1 {
 transform: rotate(3deg);

}
.char2{
 transform: rotate(12deg);
 
}
.char3{
    transform: rotate(21deg);
}
.char4 {
    transform: rotate(30deg);
}
.char5{
    transform: rotate(39deg);
}
.char6{
    transform: rotate(48deg);
}

/********** Front - Jersey ******/ 
.front-jersey-container {
    position: absolute;
    width: 30%;
    height: 100%;
    text-align: center;
    top: 10%;
    right: 50%;
    /* animation: appear; */
}
.front-jersey-container img {
    width: 40%;
    height: 50%;
}
@keyframes appear {
    0% {
        opacity: 0;
      }
    50% {
        opacity: 0;
      }
    70% {
        opacity: 0.2;
      }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes rotation-of-jersey {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg);}
}
@keyframes displaying-jersey-number{
    0% {
        opacity: 0;
      }
    50% {
        opacity: 0;
      }
    70% {
        opacity: 0.2;
      }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes slide-to-left {
    
   to { transform: translateX(30%);}
}
@keyframes transitioning2 {
    to { transform: translateX(-460%);}
}

@media screen and (max-width: 2200px) {
    .Motivation h2 {
        color:  white;
        font-size:  3rem;
        position: absolute;
        left: 42%;
        top: 10%;
        font-family: 'Arvo', serif;
    }
    .Motivation h3 {
        color:  white;
        font-size: 3em;
        position: absolute;
        margin: 15px;
        top:  40%;
        left: 10%;
        font-family: 'Cedarville Cursive', cursive;
    }
    .Motivation button {
        color: white;
        margin: 15px;
        border: 1px solid white; 
        font-size: 0.8rem;
        background: transparent;
        height: 6%;
        position: absolute;
        font-family: 'Arvo', serif;
        
    }
    ul {
        position: absolute;
    }
    ul li {
        display: inline-flex;
        margin: 15px;
        width: 2%;
    }




/* @media screen and (min-width: 1366px) {
    .Motivation h2 {
        color: white;
        font-size:  40px;
        
        position: absolute;
        font-family: 'Arvo', serif;
        }
        .Motivation button {
            color: white;
            font-size: 10px;
            border: 1px solid white; 
            height: 20px;
            background: transparent;
            position: absolute;
            font-family: 'Arvo', serif;
            left: 40%;
            top: 15%;
        }
}
@media screen and (max-width: 375px) {
    .Motivation h2 {
        color: white; 
        font-size:  10px;
        position: absolute;
        left: 40%;
        top: 5%; 
        font-family: 'Arvo', serif;
        }
        .Motivation button {
            color: white;
            font-size: 10px;
            border: 1px solid white; 
            height: 20px;
            background: transparent;
            position: absolute;
            font-family: 'Arvo', serif;
            left: 40%;
            top: 15%;
        }
    }
    @media screen and (  max-width: 414px) {
        .Motivation h2 {
            color: white;
            font-size:  10px;
            position: absolute;
            left: 42%;
            top: 5%; 
            font-family: 'Arvo', serif;
            }
            .Motivation button {
                color: white;
                font-size: 10px;
                font-family: 'Arvo', serif;
                border: 1px solid white; 
                height: 20px;
                background: transparent;
                position: absolute;
                left: 42%;
                top: 15%;
            }
        }
    @media screen and (min-width: 760px) {
        .Motivation h2 {
            color: white;
            font-size:  20px;
            position: absolute;
            right: 40%;
            top: 5%; 
            font-family: 'Arvo', serif;
            }
            .Motivation button {
                color: white;
                border: 1px solid white; 
                background: transparent;
                height: 40px;
                position: absolute;
                font-family: 'Arvo', serif;

                left: 45%;
                top: 20%;
            }
        }
    @media screen and (min-width: 1420px) {
        .Motivation h2 {
            color:  white;
            font-size:  60px;
            position: absolute;
            left: 42%;
            top: 10%;
            font-family: 'Arvo', serif;
        }
        .Motivation button {
            color: white;
            border: 1px solid white; 
            font-size: 25px;
            background: transparent;
            height: 45px;
            position: absolute;
            font-family: 'Arvo', serif;
            left: 45%;
            top: 20%;
        }
    }
    @media screen and (min-width: 1020px) {
        .Motivation h2 {
            color: white;
            font-size:  30px;
            position: absolute;
            right: 40%;
            top: 5%; 
            font-family: 'Arvo', serif;
            }
            .Motivation button {
                color: white;
                border: 1px solid white; 
                background: transparent;
                height: 40px;
                position: absolute;
                font-family: 'Arvo', serif;

                left: 45%;
                top: 20%;
            }
    }
    @media screen and (min-width: 1600px) {
        .Motivation h2 {
            color: white;
            font-size:  20px;
            font-family: 'Arvo', serif;
        }
        .Motivation button {
            color: white;
            border: 1px solid white; 
            background: transparent;
            height: 40px;
            position: absolute;
            font-family: 'Arvo', serif;

            left: 45%;
            top: 20%;
        }
    }
    @media screen and (min-width: 1920px) {
        .Motivation h2 {
            color: white; 
            font-size:  40px;
            position: absolute;
            left: 42%;
            top: 20%;
            font-family: 'Arvo', serif;  
        }
        .Motivation button {
            color: white;
            font-size: 30px;
            border: 1px solid white; 
            background: transparent;
            height: 50px;
            position: absolute;
            font-family: 'Arvo', serif;
            left: 47%;
            top: 50%;
        }
} */